.icon {
	font-family: vant-icon;
	color: var(--text-color1);
}

.flex {
	display: flex;
	flex-direction: row;
}

.items-center {
	align-items: center;
}

.justify-left {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-right {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}